.md-nav--primary > ul > li {
  border-bottom: 1px dashed rgba(0,0,0,.1);
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.md-nav__title {
  display: block;
}

.md-nav__title--site {
    display: none;
}

@media only screen and (max-width: 1220px) {
    .md-nav__title--site {
        display: block;
    }
}
